@if (categoryList$ | async; as categoryList) {
  <h1 class="title">
    Browse by Category: <b>{{ categoryList.total }}</b> Results Found
  </h1>
  <ion-grid>
    <ion-row>
      @for (category of categoryList.items; track category._id) {
        <ion-col size-xs="6" size-md="3" size-lg="auto">
          <ion-card [routerLink]="['/category/', category.slug]">
            <img
              [alt]="category.title"
              *ngIf="category.Image"
              [src]="category.Image.path | assetImageUrl"
            />
            <ion-card-header>
              <ion-card-title>{{ category.title }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
} @else {
  <h1 class="title">
    <ion-skeleton-text [animated]="true" style="width: 300px; height: 30px"></ion-skeleton-text>
  </h1>
  <app-skeleton-loading [items]="13"></app-skeleton-loading>
}
