<app-search />

<ion-content [fullscreen]="true">
  <app-hero-section imageName="hero-section-about" imageAlt="About Us" />
  <section class="ion-padding">
    <h1>About Us</h1>
    <strong>Our Origin Story</strong>
    <p>
      Vault 42 was part of an ambitious experiment designed to preserve humanity's botanical
      heritage. Much like the Svalbard Global Seed Vault in Norway, Vault 42 was entrusted with the
      sacred duty of storing seeds of almost every known plant species. However, unlike Svalbard,
      Vault 42 had a unique twist inhabitants were provided with light bulbs of no more than 40
      watts, creating an environment shrouded in perpetual twilight.
    </p>

    <strong>A Legacy of Growth</strong>
    <p>
      At Vault 42 Seeds & Plants, we carry forward this mission with a touch of fantasy and a
      commitment to sustainability. Our vault is a sanctuary for plant lovers, offering a diverse
      range of seeds and plants to help you cultivate your own garden of Eden. From rare heirloom
      vegetables to exotic flowers, our collection is a testament to the resilience and beauty of
      nature.
    </p>

    <strong>Why Choose Us?</strong>
    <ul>
      <li>
        Heritage and Diversity: Our selection includes seeds from the most resilient and diverse
        plant species, ensuring your garden thrives in any condition.
      </li>
      <li>
        Sustainable Practices: We prioritize eco-friendly methods in all our operations, from seed
        harvesting to packaging.
      </li>
      <li>
        Expert Guidance: Our team of botanists and horticulturists are here to help you every step
        of the way, offering tips and advice to nurture your green thumb.
      </li>
    </ul>

    <strong>Join the Vault 42 Community</strong>
    <p>
      When you choose Vault 42 Seeds & Plants, you're not just buying seeds; you're becoming part of
      a community dedicated to preserving and nurturing the natural world. Whether you're an
      experienced gardener or just starting your journey, we invite you to explore our offerings and
      discover the magic of growing your own garden.
    </p>

    <strong>Our Vision for the Future</strong>
    <p>
      Inspired by the vision of Vault 42, we believe in a future where every home has a thriving
      garden, and every person has the knowledge and resources to grow their own food and flowers.
      Together, we can create a greener, more sustainable world, one seed at a time.
    </p>
  </section>
</ion-content>
