<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list>
        <ion-list-header>{{ appTitle }}</ion-list-header>
        <ion-note>{{ appSubtitle }}</ion-note>

        @for (page of appPages; track page.url) {
          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerDirection="root"
              [routerLink]="[page.url]"
              [routerLinkActiveOptions]="{ exact: true }"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [ios]="page.icon + '-outline'"
                [md]="page.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        }

        <ion-item-group>
          <ion-item lines="none">
            <ion-icon aria-hidden="true" slot="start" ios="moon-outline" md="moon-sharp"></ion-icon>
            <ion-label>Dark Mode</ion-label>
            <ion-toggle
              slot="end"
              [checked]="isDarkMode()"
              (ionChange)="toggleDarkMode($event)"
            ></ion-toggle>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
